@redeco-app:registry=https://europe-west2-npm.pkg.dev/redeco-dev/redeco-npm/
@redeco-platform:registry=https://europe-west2-npm.pkg.dev/redeco-dev/redeco-npm/
//europe-west2-npm.pkg.dev/redeco-dev/redeco-npm/:always-auth=true